body{
    background-color: #3db2a8;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    background-color: #d7f5fe;
    width: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1rem;
    border-radius: 0.7rem;
}

section h1{
    text-align: center;
}